<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    {% block styles %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'board/css/master.css' %}">
    {% endblock %}

    <title>{% block title %}Main Page{% endblock %}</title>
</head>

<body>
<header id="header" class="main-header">
    {% block header %}
        <div class="container">
            <nav class="main-navigation">
                <a class="logo" href="index.html"><img src="{% static 'board/images/logo.svg' %}"
                                                       alt="Лого Канбана"></a>
                <div class="navigation-list">
                    <ul class="site-navigation">
                        <li class="navigation-item"><a href="{% url 'board:about' %}">О нас</a></li>
                        <li class="navigation-item"><a href="{% url 'board:rules' %}">Правила</a></li>
                        <li class="navigation-item"><a href="{% url 'board:news' %}">Статьи</a>
                    </ul>
                </div>
                <div class="help-button">
                    <a class="button" href="mypage.html">
                        <img src="{% static 'board/images/help.svg' %}" alt="help">
                    </a>
                </div>
            </nav>
        </div>
    {% endblock %}
</header>


{% block content %} {% endblock %}

<footer id="footer" class="footer">
    {% block footer %}
        <div class="container">
            <div class="copyright">
                <p>GitHub</p>
            </div>
            <!-- <div class="share">
              <button type="word" name="share">share</button>
            </div> -->
        </div>
    {% endblock %}
</footer>
</body>
</html>
